.scan-viewer {
  background: #ffffff;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scan-3d-container {
  width: 740px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-3d-container .left-panel {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scan-3d-container .right-panel {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-info {
  height: 55px;
  background: rgb(61, 61, 61);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.left-panel .line-info {
  flex-direction: row;
  background: linear-gradient(to right, rgba(180, 180, 180, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.right-panel .line-info {
  flex-direction: row-reverse;
  background: linear-gradient(to left, rgba(180, 180, 180, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.line-info-water-type {
  font-size: 21px;
  font-weight: bold;
}

.left-panel .line-info-water-type {
  margin-left: 10px;
}

.right-panel .line-info-water-type {
  margin-right: 10px;
}