.main-menu {
  display: flex;
}

.main-menu .left {
  background: #ffffff20;
  width: 200px;
  height: 100%;
  animation: left-to-right 0.5s ease-in-out 0.2s 1 both;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

.main-menu .right {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu .menu-container {
  width: 540px;
  height: 360px;
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px 180px;
}

.main-menu-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s;
  animation-direction: alternate;
}

.main-menu-item .main-menu-icon {
  width: 90px;
  transition: all 0.4s;
}

.main-menu-item .main-menu-item-title {
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}

.main-menu-item.selected {
  background: #ffffff60;
}

.main-menu-item.selected .main-menu-item-title {
  color: #000000;
}

.main-menu-item.selected .main-menu-icon {
  width: 130px;
}

.main-menu-item.a1 {
  animation: one 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 0ms both;
}

.main-menu-item.a2 {
  animation: two 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 100ms both;
}

.main-menu-item.a3 {
  animation: three 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 200ms both;
}

.main-menu-item.a4 {
  animation: four 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 300ms both;
}

.main-menu-item.a5 {
  animation: five 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 400ms both;
}

.main-menu-item.a6 {
  animation: six 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 500ms both;
}

@keyframes one {
  0% {
    opacity: 0;
    transform: translate(-40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes two {
  0% {
    opacity: 0;
    transform: translate(0px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes three {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes four {
  0% {
    opacity: 0;
    transform: translate(-40px, +40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes five {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes six {
  0% {
    opacity: 0;
    transform: translate(+40px, +40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}