.quick-scan-action {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-scan-action .quick-scan-video {
  width: 800px;
  height: 100%;
  background-size: cover;
}