.quick-scan-action {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-scan-action .quick-scan-video {
  width: 800px;
  height: 100%;
  background-size: cover;
}

.quick-scan-line-name{
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}