.status-bar {
  width: 800px;
  height: 40px;
  background: #000;
  border-bottom: 1px solid #ffffff20;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.247) 9%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 100%);
  background-size: 1200px;
  background-repeat: repeat-x;
  animation: status-bar-animation 10s ease infinite ;
  
}

@keyframes status-bar-animation{
  80%, 100%{
    background-position-x: 0px;
  }
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1200px;
  }
}

.status-bar-left {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.status-bar-right {
  height: 40px;
  padding-right: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.status-bar .menu-title {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.wifi-icon {
  margin-right: 8px;
}

.status-bar .flag {
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
}

.status-bar .flag img {
  width: 44px;
  border-radius: 10px;
}