.selector-item {
  width: 330px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.selector-item .value {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.selector-item .left {
  width: 60px;
  border-right: 1px solid #cccccc;
  display: flex;
  justify-content: center;

}

.selector-item .right {
  width: 60px;
  border-left: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  
}

.selector-item .unit {
  font-size: 20px;
}

.selector-item .right[animating='1'] {
  animation: arrow-animation-right 0.3s 1;
}

.selector-item .left[animating='1'] {
  animation: arrow-animation-left 0.3s 1;
}

@keyframes arrow-animation-right{
  0%{
    transform: translateX(0px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes arrow-animation-left{
  0%{
    transform: translateX(0px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}