.files {
  display: flex;
  justify-content: center;
  align-items: center;
}

.files-container {
  width: 760px;
  height: 400px;
  background: #ffffffaa;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.file-list-container {
  width: 730px;
  height: 100%;
}

.file-scroll {
  width: 30px;
  height: 100%;
}

.file-scroll-top {
  background: #ffffff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-scroll-bar {
  background-color: #dddddd;
  height: 320px;
}

.file-scroll-bottom {
  background: #ffffff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-list-titles {
  width: 100%;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.file-list-title-a {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;
}

.file-list-title-b {
  width: 25%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.file-list-title-c {
  width: 25%;
  display: flex;
  align-items: center;
  padding-left: 10px;

}

.scroll-icon {
  width: 30px;
}

.file-scroll-handle {
  width: 20px;
  height: 40px;
  background: rgb(134, 134, 134);
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
  top: 5px;
}

.file-list {
  height: 360px;
  width: 100%;
  overflow: hidden;
}

.file {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #aaaaaa;
  background: #ffffff40;
  display: flex;
}

.file .file-a {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.file .file-b {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file .file-c {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-icon {
  margin-right: 10px;
  margin-left: 5px;
}

.file.selected {
  background: #40acff;
  color: white !important;
  font-weight: bold;
}

.scrollable {
  transition: all 1.2s;
}

.delete-popup-container {
  background: #000000ad;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-popup {
  background: #ffffff;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-popup-file-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.delete-popup-text {
  font-weight: bold;
}

.delete-button-group {
  display: flex;
  margin-top: 10px;
  width: 260px;
  justify-content: space-between;
}

.delete-button {
  width: 120px;
  height: 40px;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}

.delete-button.selected {
  background-color: #40acff;
}