.snack-bar {
  position: absolute;
  bottom: 10px;
  left: 5%;
  width: 90%;
  z-index: 200000;
  background: rgb(188, 248, 250);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
}

