.plot-viewer {
  width: 500px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-plot {
  color: black;
  position: absolute;
}

.plot-viewer.active{
  background: radial-gradient(ellipse at center, #8f8f8f 0%, #000000 80%);
}