.scan-title {
  display: flex;
  width: 780px;
  background: #00000050;
  color: #ffffff;
  margin-left: 10px;
  height: 40px;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
}

.scan-title-label {
  background: #42424290;
  padding: 5px 10px 5px 10px;
}

.scan-title-value {
  background: #40acff;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}